*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    display: flex;
    
}

.quiz-container{
    background-color:  #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header{
    padding: 2rem;
}

h2{
    margin: 0;
    text-align: center;
    padding: 3rem;
}


ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #8e44ad;
    border: none;
    cursor: pointer;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 2rem;
}

button:hover{
    background-color: #732d91;
    transition: 1s ease;
}